*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}


.container{
    height: 200px;
    display: flex;
    justify-content: center;
    margin-block-start: 2em;
    
}


.card{
    border: 1px solid #000;
    height:200px;
    width: calc(200px * 2/3);
    border-radius: 5px;
    display: grid;
    padding: .5em;
    transform-style: preserve-3d;
    transition: all 3s ease-in-out 0s;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    padding-block-start: 20px;
}

.bottom{
    transform: rotate(180deg);
    padding-block-end: 30px;
    
}

.top > div:first-child, .bottom > div:first-child{
    padding-inline-start: .1px;
}

.back{
    transform: rotateY(180deg);
    display: grid;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
    margin: auto;
    color: #111;
}

.front, .back{
    backface-visibility: hidden;
    
}

.card:hover{
    transform: rotateY(180deg) scale(1.5);
    transition: all 3s ease-in-out 0s;
}




